body {
  font-size: 16px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e7eff7; /* Colore di sfondo */
  color: #263869;
}

.header {
  background-color: #203e99; /* Colore della barra fissa */
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo-container {
  text-align: center; /* Allinea il testo sotto il logo */
}

.app-store-logos {
  text-align: center; /* Allinea i loghi degli app store al centro */
  margin-top: 20px; /* Aggiunge uno spazio sopra i loghi */
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -10px; /* Modificato lo spostamento a sinistra */
  border: 1px solid #ccc;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap; /* Impedisce il riavvolgimento del testo su più righe */
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #d3d3d3; /* Cambiato colore al passaggio del mouse */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  padding: 80px 20px;
  text-align: center;
  color: #333;
}

.centered-text {
  font-size: 20px;
  font-weight: bold;
}

a {
  color: #2196F3;
  text-decoration: none;
}

a:hover {
  color: #1e4ac5;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100%;
    padding: 20px;
    background-color: #8ba4d5; /* Colore di sfondo */
}

.footer a {
  color: #888;
}

.footer a:hover {
  color: #555;
}


img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    border-radius: 8px; /* Bordo arrotondato */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra */
}

/* Stile per la sezione delle foto */
.foto-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; /* Modifica secondo le tue preferenze */
}

/* Stile per ogni persona nella sezione delle foto */
.persona {
  text-align: center;
}

.persona img {
  max-width: 100%;
  border-radius: 50%; /* Rendi le immagini circolari */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi ombra */
  margin-bottom: 10px; /* Modifica secondo le tue preferenze */
}

.persona p {
  font-size: 14px;
  color: #555;
}

.small-logo {
  max-width: 100px; /* Imposta la larghezza massima del logo */
  max-height: 100px; /* Imposta l'altezza massima del logo */
  margin-bottom: 10px; /* Aggiunge un margine sotto il logo */
}
